<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>        
</head>
<div id="osn">
    <div>
        <button v-for="i in pages" v-on:click="page=i" :disabled="page===i">{{ i }}</button>
    </div>
    <div v-if="zagr">
        <!--<div v-if="page==='Каталог'">
            <button v-for="i in nazv" v-on:click="page='element';element=i;element_page=element_pages[0]">{{ i.name.Марка }} {{ i.name.Модель }}</button>
        </div>-->
        <div v-if="page==='element'">
            <div>
                <button v-for="i in element_pages" v-on:click="element_page=i" :disabled="element_page===i">{{ i }}</button>
            </div>
            <div v-if="z.type==='Название'" v-for="(z,i) in element.data">
                <b>{{ z.nabor[0] }}</b>
            </div>
            <div v-if="element_page==='Обзор'" v-for="(z,i) in element.data">
                <b v-if="(i!=='Изображение')&&(i!=='Комплектация')">
                    {{ i }}:
                </b>
                <font v-if="z.type==='Выбор'">
                    <!--<button v-if="z.nabor.length>1" v-for="i2 in z.nabor">{{ i2 }}</button>-->
                    <font v-if="i!=='Комплектация'">{{ z.nabor.join(',') }}</font>
                </font>
                <b v-if="z.type==='Название'">{{ z.nabor.join(',') }}</b>
                <font v-if="(z.type==='Целое')||(z.type==='Дробное')">
                    <font v-if="z.max===z.min">
                        {{ z.max.toLocaleString() }} {{ z.ed }}
                    </font>
                    <font v-else>
                        {{ z.min.toLocaleString() }}..{{ z.max.toLocaleString() }} {{ z.ed }}
                    </font>
                </font>
                <img v-for="i2 in z.nabor" v-if="z.type==='Изображение'" v-bind:src="i2" width="300px" />
            </div>
            <div v-if="element_page==='Комплектации'">
                <!--<div v-if="z.type==='Название'" v-for="(z,i) in element.data">
                    <b>{{ z.nabor[0] }}</b>
                </div>-->
                <div v-if="z.type==='Изображение'" v-for="(z,i) in element.data">
                    <img v-for="i2 in z.nabor" v-bind:src="i2" width="100px" />
                </div>
                <table border="1">
                    <tr>
                        <th>Комплектация</th>
                        <th v-for="(z,i) in element.col['Комплектация'].cols">
                            <button v-if="sravn_poisk(element,i)===-1" v-on:click="sravn_m.push([element,i])">Сравнить</button>
                            <button v-else v-on:click="sravn_m.splice(sravn_poisk(element,i),1)">Убрать из сравнения</button>
                            <br />
                            {{ z.z }}
                        </th>
                    </tr>
                    <tr v-if="(z.type!=='Изображение')&&(z.type!=='Название')&&(i!=='Комплектация')" v-for="(z,i) in element.col">
                        <th>
                            {{ i }}
                        </th>
                        <td v-for="i2 in z.cols" v-if="i2.new" v-bind:colspan="i2.span" align="center">
                            <font v-if="i2.type==='Целое'||i2.type==='Дробное'">
                                {{ i2.z.toLocaleString() }}
                            </font>
                            <font v-else>
                                {{ i2.z }}
                            </font>
                            {{ i2.ed }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div v-if="page==='Поиск'">
            <button v-on:click="sohr_poisk">
                Сохранить
            </button>
            <button :disabled="prov_zagr_poisk" v-on:click="zagr_poisk">
                Загрузить
            </button>
            <br />
            Название:<input type="text" v-model="poiskText">
            <br />
            Марка:
            <select v-model="poiskMarka">
                <option>
                </option>
                <option v-for="i in data.Марка.nabor">
                    {{ i }}
                </option>
            </select>
            <br />
            Сортировка:
            <select v-model="sort">
                <option>
                </option>
                <option v-for="(z,i) in data" v-if="z.type=='Дробное'||z.type=='Целое'">
                    {{ i }}
                </option>
            </select>
            <select v-model="sort_min_max">
                <option>
                    мин.
                </option>
                <option>
                    макс.
                </option>
            </select>
            <button v-if="sort_napr==='∨'" v-on:click="sort_napr='∧'">{{ sort_napr }}</button>
            <button v-if="sort_napr==='∧'" v-on:click="sort_napr='∨'">{{ sort_napr }}</button>
            <br />
            Фильтры:
            <br/>
            Добавить:
            <select v-model="new_filter">
                <option>
                </option>
                <option v-for="(z,i) in data" v-if="(!filters_m.includes(i))&&((z.type!=='Изображение')&&(z.type!=='Название')&&(i!=='Комплектация'))">
                    {{ i }}
                </option>
            </select>
            <br/>
            <div v-for="(z,i) in filters">
                <button v-on:click="delete_filter_index=i">Удалить</button>
                <select v-model="filters_m[i]" v-on:change="filter_change(i)">
                    <!--<option>
                    </option>-->
                    <option v-for="(z2,i2) in data" v-if="((!filters_m.includes(i2))||(filters_m[i]===i2))&&(z2.type!=='Изображение')&&(z2.type!=='Название')&&(i2!=='Комплектация')">
                        {{ i2 }}
                    </option>
                </select>
                <div v-if="data[filters_m[i]].type==='Выбор'">
                    <select v-model="filters_z[i]" multiple> <!--v-on:mousedown="vybor_filter"-->
                        <option v-for="(z2,i2) in data[filters_m[i]].nabor">
                            {{ z2 }}
                        </option>
                    </select>
                </div>
                <div v-else>
                    <div>
                        От: <input type="number" ot_do="ot" v-model.number="filters_ot[i]" v-on:input="filter_onchange" />
                        <input ot_do="ot" v-if="data[filters_m[i]].type==='Дробное'" type="range" step="0.1" v-on:change="filter_onchange" v-model.number="filters_ot[i]" v-bind:min="data[filters_m[i]].min" v-bind:max="data[filters_m[i]].max" />
                        <input ot_do="ot" v-if="data[filters_m[i]].type==='Целое'" type="range" step="1" v-on:change="filter_onchange" v-model.number="filters_ot[i]" v-bind:min="data[filters_m[i]].min" v-bind:max="data[filters_m[i]].max" />
                    </div>
                    <div>
                        До: <input ot_do="do" type="number" v-model.number="filters_do[i]" v-on:input="filter_onchange" />
                        <input ot_do="do" v-if="data[filters_m[i]].type==='Дробное'" type="range" step="0.1" v-on:change="filter_onchange" v-model.number="filters_do[i]" v-bind:min="data[filters_m[i]].min" v-bind:max="data[filters_m[i]].max" />
                        <input ot_do="do" v-if="data[filters_m[i]].type==='Целое'" type="range" step="1" v-on:change="filter_onchange" v-model.number="filters_do[i]" v-bind:min="data[filters_m[i]].min" v-bind:max="data[filters_m[i]].max" />
                    </div>
                </div>
            </div>
            <br/>
            <!--<button v-if="poisk(i)" v-for="i in nazv" v-on:click="page='element';element=i;element_page=element_pages[0]">
                <img v-bind:src="i.data.Изображение.nabor[0]" width="100px" />
                <br />
                <font v-for="(z,i2) in i.name">{{ z }} </font>
            </button>-->
            <div>
                Выбрано: {{ spisok_selected }} из {{ nazv.length }}
            </div>
            <div>
                Страница:
                <button v-on:click="poisk_page=1" :disabled="poisk_page<=1">
                    <<
                </button>
                <button v-on:click="poisk_page--" :disabled="poisk_page<=1">
                    <
                </button>
                {{ poisk_page }} из {{ Math.ceil(spisok.length/poisk_page_kvo) }}
                <button v-on:click="poisk_page++" :disabled="poisk_page>=Math.ceil(spisok.length/poisk_page_kvo)">
                    >
                </button>
                <button v-on:click="poisk_page=Math.ceil(spisok.length/poisk_page_kvo)" :disabled="spisok>=Math.ceil(spisok.length/poisk_page_kvo)">
                    >>
                </button>
                Показывать по
                <select v-model.number="poisk_page_kvo" v-on:input="filter_onchange">
                    <option>
                        10
                    </option>
                    <option>
                        20
                    </option>
                    <option>
                        50
                    </option>
                </select>
            </div>
            <button v-for="(i,n) in spisok" v-if="(n>=(poisk_page-1)*poisk_page_kvo)&&(n<poisk_page*poisk_page_kvo)" v-on:click="page='element';element=i;element_page=element_pages[0]">
                <img v-bind:src="i.data.Изображение.nabor[0]" width="100px" />
                <br />
                <font v-for="(z,i2) in i.name">{{ z }} </font>
                <br />
                <font>
                    {{ i.data.Цена.min.toLocaleString() }} {{ i.data.Цена.ed }}
                </font>
                <br />
                <font v-if="i.data.Цена.min!==i.data.Цена.max">
                    {{ i.data.Цена.max.toLocaleString() }} {{ i.data.Цена.ed }}
                </font>
            </button>
        </div>
        <div v-if="page==='Сравнение'">
            <table border="1" v-if="sravn_m.length>0">
                <tr>
                    <th>Автомобиль</th>
                    <th v-for="(z,i) in sravn_m">
                        <button v-on:click="sravn_m.splice(i,1)">
                            Убрать из сравнения
                        </button>
                        <br />
                        <b v-for="i2 in z[0].name">
                            {{ i2 }}
                        </b>
                    </th>
                </tr>
                <tr>
                    <th>Комплектация</th>
                    <th v-for="i in sravn_m">{{ i[0].col.Комплектация.cols[i[1]].z }}</th>
                </tr>
                <tr v-if="(z2.type!=='Изображение')&&(z2.type!=='Название')&&(i2!=='Комплектация')" v-for="(z2,i2) in sravn_m[0][0].col">
                    <th>
                        {{ i2 }}
                    </th>
                    <td v-for="i in sravn_m" align="center">
                        <font v-if="i[0].col[i2].cols[i[1]].type==='Целое'||i[0].col[i2].cols[i[1]].type==='Дробное'">
                            {{ i[0].col[i2].cols[i[1]].z.toLocaleString() }}
                        </font>
                        <font v-else>
                            {{ i[0].col[i2].cols[i[1]].z }}
                        </font>
                        {{ i[0].col[i2].cols[i[1]].ed }}
                    </td>
                </tr>
            </table>
            <div v-else>
                Не выбраны комплектации для сравнения
            </div>
        </div>
        <div v-if="page==='Предпочтения'">
            <button v-on:click="sohr_predp">
                Сохранить
            </button>
            <button :disabled="prov_zagr_predp" v-on:click="zagr_predp">
                Загрузить
            </button>
            <br />
            Добавить:
            <select v-model="new_predp">
                <option>
                </option>
                <option v-for="(z,i) in data" v-if="(!predp_m.includes(i))&&((z.type!=='Изображение')&&(i!=='Модель')&&(i!=='Комплектация'))">
                    {{ i }}
                </option>
            </select>
            <div v-for="(z,i) in predp_spisok">
                <button v-on:click="delete_predp_index=i">
                    Удалить
                </button>
                Важность:
                <select v-model.number="predp_v[i]">
                    <option v-for="i2 in 3">
                        {{ i2 }}
                    </option>
                </select>
                <select v-model="predp_m[i]" v-on:change="predp_change(i)">
                    <option v-for="(z2,i2) in data" v-if="((!predp_m.includes(i2))||(predp_m[i]===i2))&&(z2.type!=='Изображение')&&(i2!=='Модель')&&(i2!=='Комплектация')">
                        {{ i2 }}
                    </option>
                </select>
                <select v-if="predp_napr_for_number.includes(predp_napr[i])" v-model="predp_napr[i]" v-on:change="predp_onchange">
                    <option v-for="i2 in predp_napr_for_number">
                        {{ i2 }}
                    </option>
                </select>
                <select v-if="predp_napr_for_vybor.includes(predp_napr[i])" v-model="predp_napr[i]" v-on:change="predp_onchange">
                    <option v-for="i2 in predp_napr_for_vybor">
                        {{ i2 }}
                    </option>
                </select>
                <font v-if="(data[predp_m[i]].type==='Выбор')||(data[predp_m[i]].type==='Название')">
                    <select v-model="predp_z[i]" multiple>
                        <option v-for="(z2,i2) in data[predp_m[i]].nabor">
                            {{ z2 }}
                        </option>
                    </select>
                </font>
                <input type="number" v-if="(data[predp_m[i]].type==='Целое')||(data[predp_m[i]].type==='Дробное')" v-model.number="predp_z[i]" v-on:input="predp_onchange" />
                <b>
                    {{ data[predp_m[i]].ed }}
                </b>
                <i>
                    {{ data[predp_m[i]].min }}
                </i>
                <input ot_do="ot" v-if="data[predp_m[i]].type==='Дробное'" type="range" step="0.1" v-on:change="predp_onchange" v-model.number="predp_z[i]" v-bind:min="data[predp_m[i]].min" v-bind:max="data[predp_m[i]].max" />
                <input ot_do="ot" v-if="data[predp_m[i]].type==='Целое'" type="range" step="1" v-on:change="predp_onchange" v-model.number="predp_z[i]" v-bind:min="data[predp_m[i]].min" v-bind:max="data[predp_m[i]].max" />
                <i>
                    {{ data[predp_m[i]].max }}
                </i>
            </div>
            <div v-if="predp_m.length===0">
                Установите хотя бы одно предпочтительное значение
            </div>
            <div v-else-if="!predp_norm">
                Необходимо выбрать хотя бы одно значение во всех выбранных параметрах
            </div>
            <div v-else>
                <div>
                    Страница:
                    <button v-on:click="predp_page=1" :disabled="predp_page<=1">
                        <<
                    </button>
                    <button v-on:click="predp_page--" :disabled="predp_page<=1">
                        <
                    </button>
                    {{ predp_page }} из {{ Math.ceil(predp_rez.length/predp_page_kvo) }}
                    <button v-on:click="predp_page++" :disabled="predp_page>=Math.ceil(predp_rez.length/predp_page_kvo)">
                        >
                    </button>
                    <button v-on:click="predp_page=Math.ceil(predp_rez.length/predp_page_kvo)" :disabled="predp_page>=Math.ceil(predp_rez.length/predp_page_kvo)">
                        >>
                    </button>
                    Показывать по
                    <select v-model.number="predp_page_kvo" v-on:input="predp_onchange">
                        <option>
                            10
                        </option>
                        <option>
                            20
                        </option>
                        <option>
                            50
                        </option>
                    </select>
                </div>
                <table border="1">
                    <tr>
                        <th>
                            Изображение
                        </th>
                        <th>
                            Марка
                        </th>
                        <th>
                            Модель
                        </th>
                        <th>
                            Комплектация
                        </th>
                        <th>
                            Цена
                        </th>
                        <th v-for="i in predp_m" v-if="!['Цена','Марка'].includes(i)">
                            {{ i }}
                        </th>
                    </tr>
                    <tr v-if="(i>=(predp_page-1)*predp_page_kvo)&&(i<predp_page*predp_page_kvo)" v-for="(z,i) in predp_rez">
                        <td>
                            <img v-bind:src="z.stroka.Изображение.z" width="100px" />
                        </td>
                        <td>
                            {{ z.stroka.Марка.z }}
                        </td>
                        <td>
                            <button v-on:click="element=z.element;element_page=element_pages[0];page='element';">{{ z.stroka.Модель.z }}</button>
                        </td>
                        <td>
                            {{ z.stroka.Комплектация.z }}
                        </td>
                        <td>
                            {{ z.stroka.Цена.z }} {{ z.stroka.Цена.ed }}
                        </td>
                        <th v-for="i2 in predp_m" v-if="!['Цена','Марка'].includes(i2)">
                            {{ z.stroka[i2].z }} {{ z.stroka[i2].ed }}
                        </th>
                    </tr>
                </table> 
            </div>
        </div>
    </div>
    <div v-else>
        Загрузка...
    </div>
</div>
<script>
    var pril = new Vue
    ({
        el: '#osn',
        data:
        {
            zagr: false,//успешная загрузка данных
            page:"Поиск",//текущая страница, отображаемая на экране
            pages:["Поиск","Сравнение","Предпочтения"],//список страниц
            data:[],//сводные данные
            types:[],//типы данных
            table:[],//таблица
            z:[],//заголовки
            nazv:[],//сводные данные по комбинациям названий
            //обзор автомобиля
            element:[],//выбранная комбинация названий, то есть автомобиль
            element_pages:["Обзор","Комплектации"],//страницы просмотра автомобиля
            element_page:"Обзор",//страница по умолчанию
            //поиск и фильтрация
            poisk_page:1,//текущая страница поиска
            poisk_page_kvo:10,//количество элементов на странице
            poiskText:"",//поиск по названиям
            poiskMarka:"",//выбор марки
            sort_napr:"∧",//напрвление сортировки
            sort:"",//параметр сортировки
            sort_min_max:"мин.",//сортировка числовых параметров
            filters_m:[],//Параметры фильтрации
            filters_z:[],//выбранные значения параметров со списком значений
            filters_ot:[],//минимальные значения для числовых фильтров
            filters_do:[],//максимальные значения для числовых фильтров
            new_filter:"",//выбор нового параметра для фильтрации
            delete_filter_index:null,//индекс удаляемого фильтра
            filters_flag:false,//флаг изменения фильтров
            spisok_selected:0,//сколько элементов было выбрано фильтрами
            //сравнение
            sravn_m:[],//список сравниваемых компектаций
            //предпочтения
            new_predp:"",//новый параметр предпочтений
            predp_m:[],//список предпочтений
            predp_z:[],//выбранные значения параметров
            predp_napr:[],//желаемые направления отклонений
            predp_v:[],//список важностей
            predp_napr_for_vybor:["Является","Не является"],//направления отклонений для выборных значений
            predp_napr_for_number:["Равно","Не равно","Более","Менее"],//значения отклонений для числовых значений
            delete_predp_index:null,//индекс удаления предпочтения
            predp_flag:false,//флаг изменения предпочтений
            predp_page:1,//текущая отображаемая страница предпочтений
            predp_page_kvo:10,//количество элементов на странице
            prov_zagr_poisk:false,//результат проверки возможности сохранения параметров поиска
            prov_zagr_predp:false//результат проверки возможности сохранения параметров предпочтений
        },
        methods:
        {
            zagr_poisk:function()//загрузка параметров поиска
            {
                var t=JSON.parse(localStorage.getItem("poisk"));
                this.filters_m=t.filters_m;
                this.filters_ot=t.filters_ot;
                this.filters_z=t.filters_z;
                this.filters_do=t.filters_do;
                this.sort_min_max=t.sort_min_max;
                this.sort=t.sort;
                this.sort_napr=t.sort_napr;
                this.poiskMarka=t.poiskMarka;
                this.poiskText=t.poiskText;
            },
            sohr_poisk:function()//сохранение параметров поиск
            {
                localStorage.setItem("poisk",JSON.stringify(
                {
                    filters_m:this.filters_m,
                    filters_ot:this.filters_ot,
                    filters_z:this.filters_z,
                    filters_do:this.filters_do,
                    sort_min_max:this.sort_min_max,
                    sort:this.sort,
                    sort_napr:this.sort_napr,
                    poiskMarka:this.poiskMarka,
                    poiskText:this.poiskText
                }));
                this.prov_zagr_poisk=false;
            },
            zagr_predp:function()//загрузка параметров предпочтений
            {
                var t=JSON.parse(localStorage.getItem("predp"));
                this.predp_m=t.predp_m;
                this.predp_z=t.predp_z;
                this.predp_v=t.predp_v;
                this.predp_napr=t.predp_napr;
                this.predp_page=t.predp_page;
            },
            sohr_predp:function()//сохранение параметров предпочтений
            {
                localStorage.setItem("predp",JSON.stringify(
                {
                    predp_m:this.predp_m,
                    predp_z:this.predp_z,
                    predp_v:this.predp_v,
                    predp_napr:this.predp_napr,
                    predp_page:this.predp_page
                }));
                this.prov_zagr_predp=false;
            },
            sravn_poisk:function(element,i)//ищет комплектацию в списке сравниваемых
            {
                for(var i2 in this.sravn_m)
                {
                    if((this.sravn_m[i2][0]===element)&&(this.sravn_m[i2][1]===i))
                    {
                        return i2;
                    }
                }
                return -1;
            },
            predp_onchange:function(e)//при изменении предпочтений
            {
                this.predp_flag=true;
                var tmp = document.createElement("input");
                document.body.appendChild(tmp);
                tmp.focus();
                document.body.removeChild(tmp);  
                e.target.focus();
                for(var i in this.predp_m)
                {
                    if(this.data[this.predp_m[i]].type!=="Выбор")
                    {
                        if(this.predp_z[i]<this.data[this.predp_m[i]].min)
                        {
                            this.predp_z[i]=this.data[this.predp_m[i]].min;
                        }
                        if(this.predp_z[i]>this.data[this.predp_m[i]].max)
                        {
                            this.predp_z[i]=this.data[this.predp_m[i]].max;
                        }
                    }
                }
            },
            filter_onchange:function(e)//при изменении числовых фильтров
            {
                //aaa=e.target;
                //window.getSelection().removeAllRanges();
                //document.selection.empty();
                this.filters_flag=true;
                console.log("!");
                console.log(e);
                var tmp = document.createElement("input");
                document.body.appendChild(tmp);
                tmp.focus();
                document.body.removeChild(tmp);  
                e.target.focus();
                for(var i in this.filters_m)
                {
                    if(this.data[this.filters_m[i]].type!=="Выбор")
                    {
                        if(this.filters_ot[i]<this.data[this.filters_m[i]].min)
                        {
                            this.filters_ot[i]=this.data[this.filters_m[i]].min;
                        }
                        if(this.filters_do[i]>this.data[this.filters_m[i]].max)
                        {
                            this.filters_do[i]=this.data[this.filters_m[i]].max;
                        }
                        if(this.filters_ot[i]>this.filters_do[i])
                        {
                            if(e.target.getAttribute("ot_do")==="do")
                            {
                                this.filters_ot[i]=this.filters_do[i];
                            }
                            else
                            {
                                this.filters_do[i]=this.filters_ot[i];
                            }
                            
                        }
                    }
                }
            },
            poiskTextFunction:function(te)//определяет, удовлетворяет ли элемент введённой поисковой строке
            {
                txt=this.poiskText.toLocaleLowerCase();
                if(txt==="")
                {
                    return true;
                }
                var f=false;
                for(var i in te.name)
                {
                    if(te.name[i].toLocaleLowerCase().indexOf(txt)===0)
                    {
                        f=true;
                    }
                }
                if(!f)
                {
                    return false;
                }
                return true;
            },
            poiskMarkaFunction:function(te)//определяет, соотвествует ли элемент марке
            {
                if(this.poiskMarka==="")
                {
                    return true;
                }
                return this.poiskMarka===te.data.Марка.nabor[0];
            },
            vybor_filter:function(e)//для множественного выбора без ctrl (не используется)
            {
                e.preventDefault();
                e.target.selected=!e.target.selected;
                return false;
            },
            filter_change:function(i)//вызывается при изменении типа фильтра
            {
                if(this.filters_m[i]==="")
                {
                    return;
                }
                if(this.data[this.filters_m[i]].type==="Выбор")
                {
                    this.filters_z[i]=[];
                    this.filters_ot[i]=null;
                    this.filters_do[i]=null;
                }
                else
                {
                    this.filters_z[i]=null;
                    this.filters_ot[i]=this.data[this.filters_m[i]].min;
                    this.filters_do[i]=this.data[this.filters_m[i]].max;
                }
            },
            predp_change:function(i)//при изменении параметров предпочтений
            {
                if(this.predp_m[i]==="")
                {
                    return;
                }
                if((this.data[this.predp_m[i]].type==="Выбор")||(this.data[this.predp_m[i]].type==="Название"))
                {
                    this.predp_z[i]=[];
                    this.predp_napr[i]="Является";
                }
                else if(this.data[this.predp_m[i]].type==="Дробное")
                {
                    this.predp_z[i]=(this.data[this.predp_m[i]].min+this.data[this.predp_m[i]].max)/2;
                    this.predp_napr[i]="Равно";
                }
                else
                {
                    this.predp_z[i]=Math.round((this.data[this.predp_m[i]].min+this.data[this.predp_m[i]].max)/2);
                    this.predp_napr[i]="Равно";
                }
            }
            
        },
        computed:
        {
            spisok:function()//список при фильтрации
            {
                pril.poisk_page=1;
                //внутри может быть срез для показа нужной страницы
                var rez=[];
                for(var i in this.nazv)
                {
                    if(!this.poiskTextFunction(this.nazv[i]))
                    {
                        continue;
                    }
                    if(!this.poiskMarkaFunction(this.nazv[i]))
                    {
                        continue;
                    }
                    var stroka_true=false;
                    for(var stroka in this.nazv[i].table)
                    {
                        var all_filters_true=true;
                        for(var i2 in this.filters_m)
                        {
                            var tf=false;
                            if(this.data[this.filters_m[i2]].type==="Выбор")
                            {   
                                if(this.filters_z[i2].length===0)
                                {
                                    tf=true;
                                }
                                else
                                {
                                    //for(var i3 in this.filters_z[i2])
                                    //{
                                    if(this.filters_z[i2].includes(this.nazv[i].table[stroka][this.filters_m[i2]].z))
                                    {
                                        tf=true;
                                    }
                                    //}
                                }
                                
                            }
                            else
                            {
                                if((this.filters_ot[i2]<=this.nazv[i].table[stroka][this.filters_m[i2]].z)&&(this.filters_do[i2]>=this.nazv[i].table[stroka][this.filters_m[i2]].z))
                                {
                                    tf=true;
                                }
                            }
                            if(!tf)
                            {
                                all_filters_true=false;
                            }
                        }
                        if(all_filters_true)
                        {
                            stroka_true=true;
                        }
                    }
                    if(!stroka_true)
                    {
                        continue;
                    }
                    rez.push(this.nazv[i]);
                }
                if(this.sort!=="")
                {
                    var tp=this;
                    rez.sort(function(a,b)
                    {
                        if(tp.sort_min_max==='мин.')
                        {
                            a=a.data[tp.sort].min;
                            b=b.data[tp.sort].min;
                        }
                        else
                        {
                            a=a.data[tp.sort].max;
                            b=b.data[tp.sort].max;
                        }
                        return a-b;
                    });
                }
                if(this.sort_napr==="∨")
                {
                    rez.reverse();
                }
                this.spisok_selected=rez.length;
                return rez;
            },
            filters:function()//фильтры, для их динамического изменения и удаления
            {
                if(this.filters_flag)
                {
                    this.filters_flag=false;
                }
                console.log("P");
                if(this.delete_filter_index!==null)
                {
                    this.filters_z.splice(this.delete_filter_index,1);
                    this.filters_m.splice(this.delete_filter_index,1);
                    this.filters_ot.splice(this.delete_filter_index,1);
                    this.filters_do.splice(this.delete_filter_index,1);
                    this.delete_filter_index=null;
                }
                if(this.new_filter!=="")
                {
                    this.filters_m.push(this.new_filter);
                    //this.filters_m.push(this.new_filter);
                    if((this.data[this.new_filter].type==="Название")||(this.data[this.new_filter].type==="Выбор"))
                    {
                        this.filters_z.push([]);
                        this.filters_ot.push(null);
                        this.filters_do.push(null);
                    }
                    else
                    {
                        this.filters_z.push(null);
                        this.filters_ot.push(this.data[this.new_filter].min);
                        this.filters_do.push(this.data[this.new_filter].max);
                    }
                    this.new_filter="";
                }
                var new_m=[];
                var new_z=[];
                var new_ot=[];
                var new_do=[];
                for(var i in this.filters_m)
                {
                    if(this.filters_m[i]!=="")
                    {
                        new_m.push(this.filters_m[i]);
                        new_z.push(this.filters_z[i]);
                        new_ot.push(this.filters_ot[i]);
                        new_do.push(this.filters_do[i]);
                    }
                }
                this.filters_m=new_m;
                this.filters_z=new_z;
                this.filters_ot=new_ot;
                this.filters_do=new_do;
                return this.filters_m;
            },
            predp_spisok:function()//список предпочтений
            {
                if(this.predp_flag)
                {
                    this.predp_flag=false;
                }
                if(this.delete_predp_index!==null)
                {
                    this.predp_z.splice(this.delete_predp_index,1);
                    this.predp_m.splice(this.delete_predp_index,1);
                    this.predp_napr.splice(this.delete_predp_index,1);
                    this.predp_v.splice(this.delete_predp_index,1);
                    this.delete_predp_index=null;
                }
                if(this.new_predp!=="")
                {
                    this.predp_m.push(this.new_predp);
                    //this.filters_m.push(this.new_filter);
                    if((this.data[this.new_predp].type==="Название")||(this.data[this.new_predp].type==="Выбор"))
                    {
                        this.predp_z.push([]);
                        this.predp_napr.push("Является");
                        this.predp_v.push(1);
                    }
                    else if(this.data[this.new_predp].type==="Дробное")
                    {
                        this.predp_z.push((this.data[this.new_predp].max+this.data[this.new_predp].min)/2);
                        this.predp_napr.push("Равно");
                        this.predp_v.push(1);
                    }
                    else
                    {
                        this.predp_z.push(Math.round((this.data[this.new_predp].max+this.data[this.new_predp].min)/2));
                        this.predp_napr.push("Равно");
                        this.predp_v.push(1);
                    }
                    this.new_predp="";
                }
                var new_m=[];
                var new_z=[];
                var new_napr=[];
                var new_v=[];
                for(var i in this.predp_m)
                {
                    if(this.predp_m[i]!=="")
                    {
                        new_m.push(this.predp_m[i]);
                        new_z.push(this.predp_z[i]);
                        new_napr.push(this.predp_napr[i]);
                        new_v.push(this.predp_v[i]);
                    }
                }
                this.predp_m=new_m;
                this.predp_z=new_z;
                this.predp_napr=new_napr;
                this.predp_v=new_v;
                return this.predp_m;
            },
            predp_norm:function()//проверка, соблюдены ли нормы предпочтений
            {
                for(var i in this.predp_m)
                {
                    if((this.data[this.predp_m[i]].type==='Выбор')||(this.data[this.predp_m[i]].type==='Название'))
                    {
                        if(this.predp_z[i].length===0)
                        return false;
                    }
                }
                return true;
            },
            predp_rez:function()//обработка предпочтений
            {
                console.log("пересчёт результатов");
                var rez=[];
                //var ves=100/this.predp_m.length;
                for(var i in this.nazv)
                {
                    var tnazv=this.nazv[i];
                    for(var i2 in tnazv.table)
                    {
                        var stroka=tnazv.table[i2];
                        var summa=0;
                        for(var i3 in this.predp_m)
                        {
                            var ves=this.predp_v[i3];
                            if((this.data[this.predp_m[i3]].type==='Выбор')||(this.data[this.predp_m[i3]].type==='Название'))
                            {
                                if(this.predp_napr[i3]==='Является')
                                {
                                    if(this.predp_z[i3].includes(stroka[this.predp_m[i3]].z))
                                    {
                                        summa+=ves;
                                    }
                                }
                                else
                                {
                                    if(!this.predp_z[i3].includes(stroka[this.predp_m[i3]].z))
                                    {
                                        summa+=ves;
                                    }
                                }
                            }
                            else
                            {
                                var p_z=this.predp_z[i3];
                                var z=stroka[this.predp_m[i3]].z;
                                var min=this.data[this.predp_m[i3]].min;
                                var max=this.data[this.predp_m[i3]].max;
                                switch(this.predp_napr[i3])
                                {
                                    case "Равно":
                                        var razn=z-p_z;
                                        razn=Math.abs(razn);
                                        razn=razn/Math.abs(p_z);
                                        summa+=(1-razn)*ves;
                                        break;
                                    case "Не равно":
                                        var razn=z-p_z;
                                        razn=Math.abs(razn);
                                        razn=razn/Math.abs(p_z);
                                        summa+=razn*ves;
                                        break;
                                    case "Более":
                                        var razn=z-p_z;
                                        if(max!==p_z)
                                        {
                                            razn=razn/(max-p_z);
                                        }
                                        else
                                        {
                                            razn=1+razn/max;
                                        }
                                        summa+=razn*ves;
                                        break;
                                    case "Менее":
                                        var razn=z-p_z;
                                        if(min!==p_z)
                                        {
                                            razn=razn/(min-p_z);
                                        }
                                        else
                                        {
                                            razn=(1-razn/min);
                                        }
                                        summa+=razn*ves;
                                        break;
                                }
                            }
                        }
                        rez.push({stroka:stroka,summa:summa,element:tnazv});
                    }
                }
                //сортировка
                rez.sort(function(a,b)
                {
                    return b.summa-a.summa;
                })
                return rez;
            }
        }
    });
    $.getJSON("getcsv.php",function(data)
    {
        console.log(data);
        pril.z=data.z;
        pril.types=data.types;
        pril.table=data.table;
        pril.data=data.data;
        pril.nazv=data.nazv;
        pril.zagr=true;
        pril.prov_zagr_poisk=localStorage.getItem("poisk")===null;
        pril.prov_zagr_predp=localStorage.getItem("predp")===null;
    })
</script>